@import './_settings.scss';
.modal-container{
    z-index: 10000;
    position: fixed;
    background-color: rgba(68, 63, 63, 0.5);
    inset: 0;
    transition: all 0.2s linear;
    animation: show .3s linear;
    .modal{
        position: absolute;
        top: 15%;
        left: 50%;
        width: 500px;
        height: fit-content;
        transform: translateX(-50%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
        border-radius: $card-border-radius;
        animation: showModal .3s linear;
        transition: all 0.2s linear;
        .modal-header{
            padding: 10px;
            margin: 0;
            height: 40px;
            background-color: white;
            color: black;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 2px solid #ccc;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }
        .modal-content{
            background-color: white;
            height: 150px;
            padding: 10px;
        }
        .modal-footer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            margin: 0;
            height: 30px;
            background-color: rgb(198, 197, 197);
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: default;
            border-bottom-left-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
            .btn{
                margin-left: 20px;
                outline: none;
                border : none;
                padding: 6px 12px;
                border-radius:3px;
                color: white;
                cursor: pointer;
                transition: all 0.2s linear;
                &.cancel{
                    background-color: rgb(243, 58, 58);
                    &:hover{
                        background-color: lighten(rgb(243, 58, 58), 5);
                    }
                }
                &.confirm{
                    background-color: rgb(10, 217, 37);
                    &:hover{
                        background-color:lighten(rgb(10, 217, 37),5);
                    }
                }
            }
        }
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showModal {
    0%{
        top: 0;
    }
    100%{
        top: 15%;
    }
}