@import './_settings.scss';


.board-content{
    display: flex;
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 20px 0 0;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.40);
      border-radius: 6px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.05);
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
    .add-column-container{
      height:fit-content;
      min-width: $column-width;
    }
    .add-new-column{
      display: block;
      width: $column-width;
      height: fit-content;
      font-size: 1rem;
      color: white;
      margin: 0 $gap;
      padding: 6px 12px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius:  $column-border-radius;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s linear;
      &.show{
        opacity: 1;
        height: fit-content;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .enter-new-column{
      display: block;
      width: $column-width;
      height: 0;
      opacity: 0;
      margin: 0 $gap;
      background-color: $bg-list-color;
      border-radius:  $column-border-radius;
      padding: 4px;
      transition: all 0.2s ease-in-out;
      &.in.show{
        height: fit-content;
        opacity: 1;
      }
      .input-enter-new-col{
        display: block;
        height: 28px;
        font-size: 13px;
        width: calc(#{$column-width} - #{$gap});
        padding: 16px 10px;
        border-radius:  3px;
        border: 2px solid #0079bf;
        outline: none;
      }
      
      .cancel-btn i{
        color: #42526e;
        font-size: 16px;
        cursor: pointer;
        &:hover{
          color: #39465e;
        }
      }
    }
  }