@import './_settings.scss';


.board-content{
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;
    // margin: 0 $gap $gap;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.40);
      border-radius: 6px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.05);
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
  }