@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Nunito+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&family=Source+Sans+Pro:wght@200;300;400;600&family=Varela+Round&display=swap');

$bg-color : #0079bf;
$bg-list-color : #ebecf0;


$gap : 10px;

$navbar-app-height : 5vh;
$navbar-board-height : 6vh;
$board-content-height : 88vh;

$column-header-height :36px;
$column-footer-height :36px;
$column-border-radius : 6px;
$column-width : 290px;
$card-border-radius : 5px;

$screen-lg : 1201px;
$screen-md : 992px;
$screen-sm : 768px;
