@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Nunito+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&family=Source+Sans+Pro:wght@200;300;400;600&family=Varela+Round&display=swap');

$bg-color : #0079bf;
$bg-bold-color : #005c91;
$bg-list-color : #ebecf0;
$gap : 10px;
$column-header-height :36px;
$column-footer-height :36px;
$column-border-radius : 6px;
$card-border-radius : 5px;


body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.3rem;
}
.container {
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  height: 100vh;
  font-size: 28px;
  background-color: $bg-color;
  .navbar{
    display: flex;
    align-items: center;
    padding-left: $gap;
    &.app{
      font-size: 1.5rem;
      background-color: $bg-bold-color;
    }
    &.board{
      background-color: $bg-color;
      font-size: 1.1rem;
    }
  }
  .board-columns{
    display: flex;
    overflow-x: auto;
    margin: 0 $gap $gap;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.40);
      border-radius: 6px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.05);
    }
    .column{
      flex: 0 0 auto;
      width: 300px;
      font-size: 1.1rem;
      margin-bottom: $gap;
      &:not(:first-child){
        margin-left: $gap;
      }
      > * {
        background-color: $bg-list-color;
        color: black;
        padding: 0 8px;
      }
      header{
        height: $column-header-height;
        padding-left: 10px;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: $column-border-radius ;
        border-top-right-radius: $column-border-radius ;
      }
      footer{
        height: $column-footer-height;
        padding-left: 10px;
        line-height: $column-footer-height;
        font-size: 16px;
        font-weight: bold;
        border-bottom-left-radius: $column-border-radius ;
        border-bottom-right-radius: $column-border-radius ;
      }
      ul{
        list-style: none;
        margin : 0;
        max-height: calc(100% - #{$column-footer-height} - #{$column-header-height});
        overflow-y: auto;
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.0);
          border-left : 5px solid rgba(0, 0, 0, 0.30);
        }
        
        &::-webkit-scrollbar-track {
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0);
        }
        li{
          background: white;
          padding: $gap;
          border-radius: $card-border-radius;
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          &:not(:last-child){
            margin-bottom: $gap;
          }
          img{
            display: block;
            width: calc(100% + 2 * #{$gap});
            margin: -$gap 0 $gap (-$gap);
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
          }
        }
      }
    }
  }
}