@import './_settings.scss';


body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.3rem;
}
.container {
  height: 100vh;
  font-size: 28px;
  overflow : hidden;
  background-color: $bg-color;
}
.icon{
  font-size: 14px;
  margin-right: 4px;
}