@import './_settings.scss';

.dropdown-btn{
    height: calc(100% - #{$gap});
    padding: 4px 12px;
    border: none;
    box-shadow: none !important;
    outline: none;
    background-color: $bg-list-color;
    color: $text-color ;
    &:hover{
        background-color: darken($bg-list-color,5) ;
        color: $text-color;
    }
    &:focus-within{
        background-color: darken($bg-list-color,5) ;
    }   
}
div.menu-list{
    padding: 0px 4px;
    border-radius:$card-border-radius ;
    font-size: 13px;
}
a.menu-item{
    margin: 4px 0px ;
    padding: 4px $gap;
    border-radius: $card-border-radius;
    &:active{
        background-color: darken($bg-list-color,5)
    }
}
hr.item-divider{
    margin: 0px ;
}